[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
openpyxl = "*"
pyarrow = "*"

[packages]
requests = "*"
six = "*"
regex = "*"
boto3 = "*"
pandas = "*"
numpy = "==1.19.3"
fsspec = "*"
s3fs = "==0.4.*"  # Version 0.5.* is incompatible with boto3

[requires]
python_version = "3.8"
