[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
openpyxl = "*"
pandas = "*"
numpy = "==1.19.3"
fsspec = "*"

[packages]
requests = "*"
six = "*"
regex = "*"
boto3 = "*"

[requires]
python_version = "3.8"
